@{
    ViewData["Title"] = "Home Page";
}

    <div class="text-center">
        <h1 style="font-size: 24px;"><a style="color:black;" href="~/Authors/Index">Authors</a></h1>
        <h1 style="font-size: 24px;"><a style="color:black;" href="~/Readers/Index">Readers</a></h1>
        <h1 style="font-size: 24px;"><a style="color:black;" href="~/Books/Index">Books</a></h1>
        <h1 style="font-size: 24px;"><a style="color:black;" href="~/Places/Index">Places</a></h1>
        <h1 style="font-size: 24px;"><a style="color:black;" href="~/Borrows/Index">Borrows</a></h1>
    </div>
